<div class="content" >
  <div class="content__container" >
    <h2> Summary </h2>
    <img class="avatar" src="/img/new.png" width="100px" >
    <p> Full stack web developer, frontend architect / engineer, and software engineer generalist. </p>
    <p> I believe that good software should be simple to use, and make people's lives easier. </p>
    <p> I enjoy challenging, high impact work.  Advocate of simplicity and minimalism. </p>
    <br><br>
    <hr />
    <br>
    <p> Below you will find <a href="#tech">tech</a>, <a href="#music">music</a>, and <a href="#misc">misc</a>, which provide a list of skillsets. </p>
    <p> Visit my <a href="/projects"> projects </a> page to see a list projects I am hosting online. </p>
    <a name="tech"></a>
    <br>
    <hr />
    <h2> Tech </h2>
    <p> Items in the left column are strengths. </p>
    <p> Items in the right column are items I've worked with before, but are not my focus. </p>
    <h4 style="margin-bottom: 0" > Languages </h4>

    <div class="row" >
      <div class="col" >
        <ul>
          <li> Javascript </li>
          <li> HTML </li>
          <li> CSS </li>
          <li> C# </li>
        </ul>
      </div>
      <div class="col" >
        <ul>
          <li> Ruby </li>
          <li> Python </li>
          <li> PHP </li>
          <li> Bash Scripting </li>
          <li> SQL </li>
          <li> Java </li>
          <li> C++ </li>
          <li> C </li>
        </ul>
      </div>
    </div>


    <h4 style="margin-bottom: 0" > Frontend </h4>
    <div class="row" >
      <div class="col" >
        <ul>
          <li> Vanilla Javascript </li>
          <li> Modern ES6 Javascript </li>
          <li> React </li>
          <li> Redux </li>
          <li> Redux-Saga </li>
          <li> Webpack </li>
          <li> Async / Await </li>
          <li> Server Side Rendering </li>
          <li> Code Splitting </li>
          <li> Isomorphic Javascript </li>
          <li> CSS Modules </li>
          <li> Sass </li>
          <li> Jest </li>
        </ul>
      </div>
      <div class="col" >
        <ul>
          <li> jQuery </li>
          <li> Backbone </li>
          <li> Angular </li>
          <li> Gulp </li>
          <li> Grunt </li>
          <li> Selenium </li>
        </ul>
      </div>
    </div>

    <h4 style="margin-bottom: 0"> Backend </h4>
    <div class="row" >
      <div class="col" >
        <ul>
          <li> Node.js / Express </li>
          <li> Nginx </li>
          <li> MongoDB </li>
          <li> pm2 </li>
          <li> MJML ( Email Templating ) </li>
        </ul>
      </div>
      <div class="col" >
        <ul>
          <li> ASP.net </li>
          <li> Ruby on Rails </li>
          <li> MySQL </li>
          <li> DynamoDB </li>
          <li> Riak ( Discontinued ) </li>
          <li> Zend Framework </li>
        </ul>
      </div>
    </div>

    <h4 style="margin-bottom: 0" > Skillsets </h4>
    <div class="row" >
      <div class="col" >
        <ul>
          <li> Mockups w/Balsamiq </li>
          <li> QA Testing / Release Planning </li>
          <li> Payment Infrastructure w/Stripe </li>
          <li> Devops w/Digital Ocean </li>
          <li> Devops w/AWS </li>
          <li> Full Stack Unit & Integration Testing </li>
          <li> Website performance profiling / optimization </li>
          <li> Custom Analytics Infrastructure </li>
          <li> A/B testing, conversion tracking </li>
          <li> Project Management w/Github </li>
          <li> Google Maps </li>
          <li> Responsive / X-Platform Development </li>
          <li> Technical Interviewing </li>
          <li> Web Styleguide Development </li>
        </ul>
      </div>
      <div class="col" >
        <ul>
          <li> Selenium Integration testing </li>
          <li> Game Dev w/Unity3D </li>
          <li> Game Dev w/XNA Game Studio </li>
          <li> Coding Teaching / Mentoring </li>
          <li> Web Design </li>
        </ul>
      </div>
    </div>
    <br>
    <hr />

    <a name="music"></a>
    <h2> Music </h2>
    <div class="row" >
      <div class="col" >
        <ul>
          <li> 12+ years classical piano training & music theory </li>
          <li> 5+ years creating electronic music w/ Reason</li>
          <li> <a href="https://www.reverbnation.com/electrosage">Music Profile on Reverbnation</a> </li>
          <li> Created soundtrack for UCSC senior game design projects
            <ul>
              <li> <a href="https://www.youtube.com/watch?v=c9tSKWGRIXk&feature=youtu.be&t=2m10s"> Journey To the Sun </a> </li>
              <li> <a href="https://www.youtube.com/watch?v=phoE2OjZ9vs">Psychic Ninja</a> </li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
    <hr />

    <a name="misc"></a>
    <h2> Misc </h2>
      <ul>
        <li> Worked as programming bootcamp instructor for Thinkful, an online coding bootcamp. </li>
        <li> Created "Introduction to Full Stack Web Development", 6+ hour video tutorial teaching web development. </li>
        <li> Worked on "Suchbet", an e-sports betting website using dogecoin as currency. </li>
        <li> Worked on <a href="https://tixit.me/">Tixit</a>, an extensible project management platform. </li>
      </ul>
    <br>

  </div>
</div>