<div class="content" >
  <div class="content__container" >

    <div class="project">
      <h3 class="project__title" >
        <a href="http://simpleweb.dtonyschwartz.com/" target="_blank" style="color:inherit; text-decoration: none;" > Simple Web Boilerplate </a>
      </h3>
      <a class="project__githubLink" href="https://github.com/dtonys/simple-web-boilerplate" target="_blank" >
        <img src="/img/github-logo.svg" width="30" />
      </a>
      <div class="project__summary">
        <p> A simple boilerplate for small web projects. </p>
      </div>
    </div>
    <hr >

    <div class="project">
      <h3 class="project__title" >
        <a href="https://fitcal.dtonyschwartz.com/" target="_blank" style="color:inherit; text-decoration: none;" > Fitcal </a>
      </h3>
      <a class="project__githubLink" href="https://github.com/dtonys/fitcal" target="_blank" >
        <img src="/img/github-logo.svg" width="30" />
      </a>
      <div class="project__summary">
        <p> A platform for instructors to sell classes and paid subscription services to clients. </p>
        <p> Customers can join memberships, paying a recurring subscription fee, to get access to events and services. </p>
        <p> Originally planned as a SASS business for fitness instructors, the result is a generic payment platform. </p>
        <p> Payment infrastructure built with Stripe. </p>
        <p> Built with Universal Web Boilerplate + Node API Boilerplate. </p>
      </div>
    </div>
    <hr >

    <div class="project">
      <h3 class="project__title" >
        <a href="http://www.universalboilerplate.com" target="_blank" style="color:inherit; text-decoration: none;" >Universal Web Boilerplate</a>
      </h3>
      <a class="project__githubLink" href="https://github.com/dtonys/universal-web-boilerplate" target="_blank" >
        <img src="/img/github-logo.svg" width="30" />
      </a>
      <div class="project__summary">
        <p> Isomorphic react webapp boilerplate featuring server side rendering and code splitting. </p>
      </div>
    </div>
    <hr >

    <div class="project">
      <h3 class="project__title" >
        <a href="http://api.universalboilerplate.com/" target="_blank" style="color:inherit; text-decoration: none;" >Node API Boilerplate</a>
      </h3>
      <a class="project__githubLink" href="https://github.com/dtonys/blackandwhite" target="_blank" >
        <img src="/img/github-logo.svg" width="30" />
      </a>
      <div class="project__summary">
        <p> Starting point for building APIs with node. Featuring authentication and user APIs, using MongoDB as a data store. <p>
        <p> <a target="_blank" href="http://api.universalboilerplate.com/api/users/5a6c9bf7804ca264a44e6627"> Example API </a> </p>
      </div>
    </div>
    <hr >

    <div class="project">
      <h3 class="project__title" >
        <a href="http://www.learntocodeweb.com/" target="_blank" style="color:inherit; text-decoration: none;" >Map Places</a>
      </h3>
      <a class="project__githubLink" href="https://github.com/dtonys/map-places" target="_blank" >
        <img src="/img/github-logo.svg" width="30" />
      </a>
      <div class="project__summary">
        <p> A google maps based website for creating and browsing places.  Built with Next.js framework. </p>
      </div>
    </div>
    <hr >

    <div class="project">
      <h3 class="project__title" >
        <a href="http://www.learnfullstackweb.com/" target="_blank" style="color:inherit; text-decoration: none;" >Learn Full Stack Web</a>
      </h3>
      <div class="project__summary">
        <p> Landing page for collecting leads for a course on teaching full stack web development. </p>
      </div>
    </div>
    <hr >

    <div class="project">
      <h3 class="project__title" >
        <a href="http://blackandwhite.dtonyschwartz.com" target="_blank" style="color:inherit; text-decoration: none;" >Black and White</a>
      </h3>
      <a class="project__githubLink" href="https://github.com/dtonys/blackandwhite" target="_blank" >
        <img src="/img/github-logo.svg" width="30" />
      </a>
      <div class="project__summary">
        <p> Simple, extensible UI framework. </p>
      </div>
    </div>


  </div>
<div>