html {
}

body {
  color: black;
  background: #FFF;
}
ul {
  padding-left: 20px;
}

li {
  padding-bottom: 5px;
}

.navbar {
  position: fixed;
  background: white;
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
  border-bottom: solid black 1px;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.5);
  z-index: 2;
}

.navbar__container {
  max-width: 960px;
  width: 100%;
  height: 100%;
  margin: auto;
  display: flex;
  align-items: center;
}

.navbar__left {
  display: flex;
}

.navbar__spacer {
  display: flex;
  flex: 1;
}

.navbar__right {
  display: flex;
}
.navbar_title {
  font-size: 1.5rem;
}
.navbar_icons {
  display: flex;
  font-size: 1rem;
}
.navbar_linkIcon {
  flex: 1;
  display: block;
}

.content {
  margin-top: 60px;
  padding: 20px;
  z-index: 1;
  text-align: center;
}
.content__container {
  max-width: 960px;
  width: 100%;
  margin: auto;
  text-align: left;
}
.avatar {
  float: right;
  margin-left: 20px;
}

.row {
  display: flex;
}
.col {
  flex: 1;
}

.project {
  padding: 10px;
  position: relative;
}
.project__githubLink {
  position: absolute;
  top: 22px;
  right: 0;
}